<html>
    <head>

        <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/common.js"></script>

        {% block headers %}

        {% endblock headers %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Schoolbell|Roboto:300" rel="stylesheet">
        <link rel="stylesheet" href="/static/style/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style/jquery-ui.min.css">
        <link rel="stylesheet" href="/static/style/main.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>

        <title>MariWanna</title>
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <a class="navbar-brand" href="/" style="font-family: 'Schoolbell', cursive; font-size: 1.6rem">
                <img src="/static/images/icon.png" class="d-inline-block align-top mr-1" width="30px" height="30px" alt="">
                MariWanna
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-between w-100">
                    <div class="d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="/search-similar">Search Similar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/search-custom">Custom Search</a>
                        </li>
                    </div>
                    <div class="d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="https://leafly-kids.herokuapp.com/search-custom">v1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">v2</a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <!-- <div id="loader" class="d-flex flex-column justify-content-center bg-light">
            <img  src="/static/images/icon_48.gif"/>
            <p>Loading... </p>
        </div> -->
        <div id="mainContent">
        {% block content %}

        {% endblock content %}
        </div>
    </body>
    <footer class="bg-dark text-muted mt-3 p-2">
        <div class="d-flex justify-content-center p-2 mt-3">
            <div class="d-flex flex-column text-center">
                <p>CS4300: Cannabis Recommendation System</p>
                <p>Frederick Kauber (fdk9), Jeffrey Liu (jl2964), Noel Picinich (nmp53), Nicole Kwok (njk72), and Nathan Bala (nb378)</p>
            </div>
            
        </div>
    </footer>
    
</html>