{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center">
    <form class="p-5 mt-5 shadow rounded w-50 bg-light" action="/search/" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="d-flex justify-content-between form-group">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="d-flex pt-3 m-0 row justify-content-between">
            <a href="/" class="btn btn-dark">< Prev</a>
            <input type="submit" class="btn btn-dark" value="Submit >">
        </div>
        
    </form>
</div>

{% endblock content %}