<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
        <title>Greener</title>
    </head>
    
    <body>
        <!-- TODO: Please change lines 10 and 11 according to your actual project name and student names-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <a class="navbar-brand" href="/">Greener</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %}

        {% endblock content %}
        
    </body>
    <footer>
        <div class="d-flex justify-content-center p-2">
            <div class="d-flex flex-column text-center">
                <p>CS4300: Cannabis Recommendation System</p>
                <p>Frederick Kauber (fdk9), Jeffrey Liu (jl2964), Noel Picinich (nmp53), Nicole Kwok (njk72), and Nathan Bala (nb378)</p>
            </div>
            
        </div>
    </footer>
</html>