body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
 }

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

#similarSearch {
    width: 45%;
}

#selectEffects input {
    width: 60%;
}

#allFlavors {
    height: 50px;
    overflow: scroll;
}

#allEffects {
    height: 75px;
    overflow: scroll;
}

#results {
    width: 65%;
}

.tag {
    height: 30px;
}

.tag.aroma {
    background-color: #ab6af2;
    color: white;
}

.btn-aromas {
    background-color: #ab6af2;
    color: white;
}

.btn-aromas:hover {
    background-color: #8c46d6;
    color: white;
}

.card.strain-result {
    width: 31% !important;
}

.strain-result p {
    font-family: 'Roboto', sans-serif;
}

/* .strain-result:hover {
    background-color: #d5e8d5;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
} */

.remove-btn {
    background-color: white;
    color: red;
    font-size: 11px;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 2px;
    /* margin-bottom: px; */
    margin-left: 7px;
}

.remove-btn:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.modal-triggor {
    cursor: pointer;
}

.modal-triggor:hover {
    text-decoration: underline;
}